[Unit]
Description=My Ping Service
After=multi-user.target

[Service]
Type = simple
ExecStart=/home/kostya/my_ping

[Install]
WantedBy=multi-user.target